.order-details-wrapper {
  padding: 32px;
}

.order-details-row {
  display: flex;
  align-items: center;
}

.order-item {
  margin-right: 16px;
  text-align: center;
}

.order-item-img {
  width: 80px;
  border: 2px solid #96d313;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #ccc;
}

.order-detail-listing {
  margin-left: 32px;
}

.order-status {
  margin-top: 24px;
}

.order-status-bold {
  font-weight: bold;
}