@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

body {
  margin: 0;
  font-family: sans-serif; /* A simple, clean font */
  background-color: #ffffff; /* Explicitly set a white background */
  color: #1a1a1a; /* A standard dark text color */
}

* {
  box-sizing: border-box;
}